
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    margin-top: 24px;
    margin-bottom: 50px;
}

@media (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}

.background {
    background-color: bisque;
}

.padding {
    padding-top: 100vh;
    padding-bottom: 70vh;
}
